Source: iomemory-vsl
Section: non-free
Priority: extra
Maintainer: snuf
Build-Depends: debhelper (>= 10), linux-headers, gcc, make, rsync
Standards-Version: 3.7.3.x
Homepage: https://github.com/snuf/iomemory-vsl

Package: iomemory-vsl-5.3.0-rc8
Architecture: amd64
Provides: iomemory-vsl,
          iomemory-vsl-${fio-version}
Conflicts: iodrive-driver, fio-driver
Replaces: iodrive-driver, fio-driver
Description: Modified driver for FIO devices
 Modified driver for FIO devices

Package: iomemory-vsl-config-5.3.0-rc8
Architecture: amd64
Provides: iomemory-vsl-config,
          iomemory-vsl-config-${fio-version}
Depends: iomemory-vsl-source
Description: Configuration of iomemory-vsl for FIO drivers %{fio-version}
 Configuration of iomemory-vsl for FIO drivers %{fio-version}

Package: iomemory-vsl-source
Architecture: amd64
Depends: linux-headers, gcc, make, lsb-release
Provides: iomemory-vsl,
          iomemory-vsl-${fio-version},
          libvsl
Description: Modified source to build driver for FIO devices
 Modified source to build driver for FIO devices
